body {
  background: url(background.jpg) no-repeat center center fixed;
  background-color: #2A3926;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage-box {
  margin-top: 10%;
  background: rgba(0, 0, 0, .7);
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/
  border-style: solid;
  border-width: thin;
}

.title-box {
  margin-top: 5%;
  background: rgba(0, 0, 0, .7);
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/
  border-style: solid;
  border-width: thin;
}

.table-header-box {
  margin-top: 5%;
  margin-bottom: 0%;
  background: rgba(0, 0, 0, .7);
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/

}

.show-box {
  padding: 1%;
  background: rgba(0, 0, 0, .7);
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/
  border-style: solid;
  border-width: thin;
}

.weather-box {
  padding: 1%;
  background: rgba(0, 0, 0, .7);
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-family: "Sanchez", serif;
  margin-bottom: 2.5%
}

.no-ticket-box {
  padding: 1%;
  padding-bottom: 0%;
  background: rgba(0, 0, 0, .7);
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-family: "Sanchez", serif;
  margin-top: 2.5%
}

.custom-text-body {
  font-family: "Source Sans Pro", serif;
}

.custom-text-weather {
  font-family: "Sanchez", serif;
  margin: 0;
  text-align: center;
}


.box {
  margin-top: 10%;
  background: rgba(0, 0, 0, .7);
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/
  border-style: solid;
  border-width: thin;
}

.devise-error {
  margin-top: 10%;
  background: rgba(0, 0, 0, .7);
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/
  border-style: solid;
  border-color: darkred;
  border-width: medium;
}


.table-box-bottom {
  /*margin-top: 2.5%;*/
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/

}

.table-box {
  margin-top: 2.5%
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/

}

.map-box {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  /*padding: 10px 10px 10px 10px;*/
  /*border-color: rgb(168, 168, 168);*/

}

.title-text {
  color: white;
  text-align: center;
  font-family: 'Sanchez', serif;
}

.custom-text {
  color: white;
  text-align: center;
  font-family: 'Sanchez', serif;
}

td {
  font-family: 'Source Sans Pro', sans-serif;
}

th {
  font-family: 'Sanchez', serif;
}

/*TOP BAR STUFF*/
.top-bar {
  padding: 0vw;
  margin: 0px;
  background: rgba(0, 0, 0, 0.7);

  font-size: 125%;

  color: white;
  font-family: 'Sanchez', serif;
}

.top-bar-title {
  color: white;
  font-family: 'Sanchez', serif, !important;
  font-size: 150%;
  margin-left: 10px;
}

.top-bar ul {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-top: 9px;
}

/*BUTTONS*/
.custom-button-small {
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgb(168, 168, 168);
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    font-family: 'Sanchez', serif;
    color: white;
    border-width: thin;
}

.custom-button-small:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: white;
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    font-family: 'Sanchez', serif;
    color: white;
    border-width: thin;
}

.custom-button-small-alert {
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: darkred;
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    font-family: 'Sanchez', serif;
    color: white;
    border-width: thin;
}

.custom-button-small-alert:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: red;
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    font-family: 'Sanchez', serif;
    color: white;
    border-width: thin;
}

.custom-button {
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: thin;
    border-color: rgb(168, 168, 168);
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    font-size: 125%;
    font-family: 'Sanchez', serif;
    color: white;
}

.custom-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: thin;
    border-color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    font-size: 125%;
    font-family: 'Sanchez', serif;
    color: white;
}

.ticket-button {
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: thin;
    border-color: rgb(168, 168, 168);
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2.5%;
    font-size: 125%;
    font-family: 'Sanchez', serif;
    color: white;
}

.ticket-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: thin;
    border-color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2.5%;
    font-size: 125%;
    font-family: 'Sanchez', serif;
    color: white;
}

.error-msg {
  width: 100%;
  color: #FFFFFF;
  margin: auto;
  font-family: 'Source Sans Pro', serif;
  margin: auto;
  text-align: center;
  background: rgba(178, 28, 17, 0.5);
}


/*LINKS*/
a {
  color: white;
}
